


<div class="col-md-6 offset-md-3">
    <h1>Update User Record</h1>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="number" class="form-control " readonly id="id" name="id" [(ngModel)]="user.id">
               <label for="cuid ">CUID</label>
            <input type="text" class="form-control" id="cuid" name="cuid" [(ngModel)]="user.cuid">
            <label for="firstName">FirstName</label>
            <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName">
            <label for="lastName">LastName</label>
            <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.laststName">
            <label for="birthday">Birthday</label>
            <input type="date" class="form-control" id="birthDate" name="birthDate"  [(ngModel)]="user.birthDate" >
            <input type="hidden" class="form-control" id="createDate" name="createDate"  [(ngModel)]="user.createDate" >
            <input type="hidden" class="form-control" id="updateDate" name="updateDate"  [(ngModel)]="user.updateDate" >
            <br>
            <input type="submit" class="btn btn-success"  value="submit">
            </div>
    </form>
</div>